body {
  font-family: "Quicksand",sans-serif;
}


.centerText{
  position: absolute;
  top: 50%;
  left: 50%;
transform: translate(-50%,-50%);
transition: 1s;
}

.navigation{
  margin-top: 80px;
  font-size: large;
}

.navigation a{
  color:black;
  text-decoration: none;
  padding:10px;
}

.nav-active{
  transition: 0.5s;
  border-bottom: solid rgba(15,82,164,1) 5px;
  font-size: larger;
  font-weight: 800;
}

.nav {
  font-weight: 500;
}

.nav:hover{
  transition: 0.5s;
  border-bottom: solid rgba(15,82,164,1) 5px;
  font-size: larger;
  font-weight: 800;

}

.header {
  position:relative;
  text-align: center;
  margin-bottom: 180px;
  margin-top: 80px;
}

.header {
  padding: 30px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.item:hover {
    transition: 0.5s;
    filter: brightness(70%);
}

.item-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.item-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    color: transparent;
    font-size: x-large;
    overflow: hidden;
}

.item-text:hover{
    color: black;
    font-weight: 600;
    filter: brightness(100%);
    background: rgb(15,82,164);
    background: linear-gradient(40deg, rgba(15,82,164,1) 0%, rgba(51,217,212,1) 76%);
}

.item-icon:hover {
    transform: scale(1.2);
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.centerHeading {
    text-align: center;
    transition: 1s;
}

.centerHeading:hover {
    transform: scale(1.5);
}
